{% extends 'base.html' %}

{% block styles %}
<link rel="stylesheet" href="static/css/index.css">
{% endblock %}

{% block body %}
<main class="identify-page">
    <section class="canvas-draw">
        <h1 class="draw-text">Draw Any Number</h1>
        <canvas id="identifyCanvas" height="300" width="300">

        </canvas>
    </section>

    <section class="information">
        <section class="canvas-actions">
            <button id="analyzeButton">Analyze</button>
            <button id="clearButton">Clear</button>
        </section>

        <section class="result">
            <span id="analyzedResult"></span>
        </section>
    </section>
</main>
{% endblock %}

{% block scripts %}
<script type="module" src="static/js/index.js"></script>
{% endblock %}